<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="5.0.0-preview.1.20120.5" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="5.0.0-preview.1.20120.5" targetFramework="net48" />
</packages>